/target
./wintun.dll
vnt_config
vnt_current_config.txt
logs/*
data/config.toml
.idea/
*.iml
vnt-app/src-tauri/logs/*
.gradle-user/
.gradle-home/
vnt-app/src-tauri/gen/android/.gradle
vnt-app/src-tauri/gen/android/.gradle-home
